body{
    background-color: rgb(68, 68, 148);
    color: white;
    text-align: center;
}

.panel{
    background-color:chocolate;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
}

.logo{
    width: 50%;
}